<!DOCTYPE html>
<html>
<head>
    <title>Python Flask Multiple Files Upload</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" id="bootstrap-css"
          rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">

            <div class="container">
                <p>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.category == 'error' %}
                <div class="alert alert-danger">
                    <strong>{{ message }}</strong>
                </div>
                {% else %}
                <div class="alert alert-danger">
                    <strong>{{ message }}</strong>
                </div>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endwith %}
                </p>
                <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" id="identitycard"
                     style="margin-top:50px">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Select file(s) to upload</div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <p class="text-center" style="padding: 8px;">File to upload {{ data.allowed }}</p>
                            </div>
                            <div class="row" style="padding: 10px 15px 9px;">
                                <form action="/" enctype="multipart/form-data" method="post">
                                    <div class="form-group">
                                        <div class="row" style="margin-bottom: 20px;">
                                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
                                                <input autocomplete="off" multiple="true" name="files[]" type="file"
                                                >
                                            </div>
                                        </div>
                                        <div class="row text-center" style="padding-left: 20px;padding-right: 20px;">
                                            <input class="btn btn-lg btn-block btn-success"
                                                   style="border-radius: 50px;background-color:hover: #35832f;"
                                                   type="submit"
                                                   value="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>