<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Dashboard - SB Admin</title>
    <link href="static/css/style.css" rel="stylesheet"/>
    <link href="static/css/styles.css" rel="stylesheet"/>
    <script src="static/js/all.min.js"></script>
</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="index.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>

                    <a class="nav-link" href="/chart">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Stats
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Primary Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Warning Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Success Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Danger Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card mb-12">
                            <div id="wrapper">
                                <div id="page-wrapper">

                                    <p>
                                        {% with messages = get_flashed_messages() %}
                                            {% if messages %}
                                                {% for message in messages %}
                                                    {% if message.category == 'error' %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ message }}</strong>
                                                        </div>
                                                    {% else %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ message }}</strong>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endwith %}
                                    </p>
                                    <div class="mainbox " id="identitycard" style="margin-top:50px">
                                        <div class="panel panel-info">
                                            <div class="panel-heading text-center">
                                                <h2 class="panel-title">Select file(s) to upload</h2>
                                            </div>
                                            <div class="panel-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <p class="text-center" style="padding: 8px;">File to
                                                            upload {{ data.allowed }}</p>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding: 10px 15px 9px;">
                                                    <form action="/" enctype="multipart/form-data" method="post">
                                                        <div class="form-group">
                                                            <div class="row " style="margin-bottom: 20px;">
                                                                <div class="d-flex justify-content-center">
                                                                    <input autocomplete="off" multiple="true"
                                                                           name="files[]" type="file">
                                                                </div>
                                                            </div>
                                                            <div class="row text-center"
                                                                 style="padding-left: 20px;padding-right: 20px;">
                                                                <input class="btn btn-lg btn-block btn-success"
                                                                       style="border-radius: 50px;background-color:hover: #35832f;"
                                                                       type="submit"
                                                                       value="Submit">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">{{ data.copyright }} <a href="{{ data.my_url }}" target="_blank">{{ data.my_url }}</a></div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/scripts.js"></script>
<script src="static/js/simple-datatables@latest.js"></script>
<script src="static/js/custom_datatables.js"></script>
</body>
</html>
